MioUbPorts/external/eclipse-basebuilder/src/eclipse-sourceBuild-srcIncluded-3.6.2.zip filter=lfs diff=lfs merge=lfs -text
MioUbPorts/external/**/*.zip filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
