# cacaoserver - cacao process ctrl gateway daemon
type cacaoserver, domain;
type cacaoserver_exec, exec_type, file_type;

binder_use(cacaoserver)
binder_call(cacaoserver, binderservicedomain)
binder_call(cacaoserver, appdomain)
binder_call(cacaoserver, mediacodec)
binder_service(cacaoserver)

hal_client_domain(cacaoserver, hal_camera)
hal_client_domain(cacaoserver, hal_graphics_allocator)

allow cacaoserver ion_device:chr_file rw_file_perms;
allow cacaoserver sysfs:file { open read };

add_service(cacaoserver, cacaoserver_service)
allow cacaoserver appops_service:service_manager find;
allow cacaoserver audioserver_service:service_manager find;
allow cacaoserver batterystats_service:service_manager find;
allow cacaoserver cameraproxy_service:service_manager find;
allow cacaoserver mediaserver_service:service_manager find;
allow cacaoserver processinfo_service:service_manager find;
allow cacaoserver scheduling_policy_service:service_manager find;
allow cacaoserver surfaceflinger_service:service_manager find;
allow cacaoserver hal_camera_hwservice:hwservice_manager find;
allow cacaoserver hidl_token_hwservice:hwservice_manager find;

###
### neverallow rules
###

# cacaoserver should never execute any executable without a
# domain transition
neverallow cacaoserver { file_type fs_type }:file execute_no_trans;

# The goal of the mediaserver split is to place media processing code into
# restrictive sandboxes with limited responsibilities and thus limited
# permissions. Example: Audioserver is only responsible for controlling audio
# hardware and processing audio content. Cacaoserver does the same for cacao
# hardware/content. Etc.
#
# Media processing code is inherently risky and thus should have limited
# permissions and be isolated from the rest of the system and network.
# Lengthier explanation here:
# https://android-developers.googleblog.com/2016/05/hardening-media-stack.html
neverallow cacaoserver domain:{ tcp_socket udp_socket rawip_socket } *;
