userdebug_or_eng(`
    # allow some domains to access /data/media/0/CrashDump
    allow kernel crashdata_data_file:file create_file_perms;

    allow priv_app crashdata_data_file:dir { create_dir_perms };
    allow priv_app crashdata_data_file:file { create_file_perms };

    allow shell crashdata_data_file:dir { create_dir_perms };
    allow shell crashdata_data_file:file { create_file_perms };

    allow platform_app crashdata_data_file:dir { create_dir_perms };
    allow platform_app crashdata_data_file:file { create_file_perms };

    allow adbd crashdata_data_file:dir { create_dir_perms };
    allow adbd crashdata_data_file:file { create_file_perms };

    allow installd crashdata_data_file:dir { search getattr open read };
    allow installd crashdata_data_file:file { getattr };
')
