type logalong_service, domain, coredomain;
type logalong_service_exec, exec_type, file_type;

userdebug_or_eng(`
  init_daemon_domain(logalong_service)

  # Needed for kernel_log_redirector and input_events_log
  allow  logalong_service sdcard_type:dir  {  rw_dir_perms  } ;
  allow  logalong_service sdcard_type:file  {  create_file_perms  } ;
  allow  logalong_service input_device:chr_file  {  r_file_perms  } ;
  allow  logalong_service input_device:dir  {  r_dir_perms  } ;
  allow  logalong_service kernel:system  {  syslog_mod  } ;
  allow  logalong_service self:capability2  {  syslog  } ;
  allow  logalong_service self:capability  {  dac_override  } ;
  allow  logalong_service app_data_file:dir {  w_dir_perms  } ;

  allow  logalong_service media_rw_data_file:dir  {  w_dir_perms read  } ;
  allow  logalong_service media_rw_data_file:file  { create_file_perms } ;

  # Rules for tcpdump
  allow logalong_service self:capability { net_raw setuid setgid };
  allow logalong_service self:packet_socket create_socket_perms;
  allowxperm logalong_service self:packet_socket ioctl unpriv_sock_ioctls;
  allow logalong_service system_file:file execute_no_trans;

  # Rules for IP logging
  allow logalong_service self:capability net_admin;
  allow logalong_service self:netlink_route_socket { create_socket_perms_no_ioctl nlmsg_read };
  allow logalong_service self:udp_socket create_socket_perms;
  allow logalong_service net_data_file:dir r_dir_perms;
  allow logalong_service net_data_file:file r_file_perms;
  allow logalong_service self:capability sys_module;
  allow logalong_service kernel:system module_request;

  # Rules for input_events_log, tcpdump and IP logging
  allow logalong_service tmpfs:dir search;

  # Rules for Mount locations
  allow logalong_service storage_file:dir rw_dir_perms;
  allow logalong_service storage_file:lnk_file create_file_perms;
  allow logalong_service mnt_user_file:dir rw_dir_perms;
  allow logalong_service mnt_user_file:lnk_file create_file_perms;
')
