type javadumper, domain, coredomain;
type javadumper_exec, exec_type, file_type;

init_daemon_domain(javadumper)
#domain_auto_trans(init, javadumper_exec, javadumper)

# partial and full tlcore /data/crashdata & /data/media/0/CrashDump
allow javadumper crashdata_data_file:dir  create_dir_perms;
allow javadumper crashdata_data_file:file create_file_perms;

# tombstone files /data/system/tombstone and/or /data/system/dropbox/* entries
allow javadumper system_data_file:dir r_dir_perms;
allow javadumper system_data_file:file r_file_perms;

# dropbox files /data/system/log/jd_dropboxfiles
allow javadumper somc_extralogs_data_file:dir { open getattr read search write add_name remove_name create };
allow javadumper somc_extralogs_data_file:file { read write create open unlink };

#tempfile handling inside libdumperframework
allow javadumper tmpfs:dir w_dir_perms;
allow javadumper tmpfs:file create_file_perms;
allow javadumper javadumper_tmpfs:dir w_dir_perms;
allow javadumper javadumper_tmpfs:file create_file_perms;

allow javadumper proc:file r_file_perms;
allow javadumper toolbox_exec:file rx_file_perms;

#to get properies
# Diag: excluding permission for firstboot_prop, serialno_prop due to neverallow policy
allow javadumper { property_type -firstboot_prop -serialno_prop }:file r_file_perms;

#Avoid violation message from javadumper for accessing system property
dontaudit javadumper serialno_prop:file r_file_perms;
dontaudit javadumper firstboot_prop:file r_file_perms;

# Allowing dac_override in all variants(user & userdebug)
allow javadumper self:capability { dac_override };

userdebug_or_eng(`
   # notifications via intents (via crashmonitornativeservice)
#   not_full_treble(`
       binder_use(javadumper)
#   ')
#   full_treble_only(`
#       vndbinder_use(javadumper)
#   ')
   binder_call(javadumper, crashmonitorns)

   # Access /usbdisk /sdcard1
   allow javadumper sdcard_type:dir { create_dir_perms };
   allow javadumper sdcard_type:file { create_file_perms };

   # socket to dumpstate service
   unix_socket_connect(javadumper, dumpstate, dumpstate)

   #property service
#   unix_socket_connect(javadumper, property, init)
   set_prop(javadumper, ctl_dumpstate_prop)

   # bugreport/dumpstate
   allow javadumper ctl_dumpstate_prop:property_service { set };
   allow javadumper property_socket:sock_file { write };

   allow javadumper rdtag_procfile:file { rw_file_perms };
   allow javadumper rdtag_procfile:dir { search };

   # shell commands (like getprop) redirected and
   # executed via /system/bin/toolbox
   allow javadumper system_file:file execute_no_trans;

   # Execute commands (like getprop) via shell (sh)
   allow javadumper shell_exec:file { execute_no_trans read open execute getattr };

   # ui notification intents
   allow javadumper crashmonitorns:binder { call };
   allow javadumper crashmonitor_service:service_manager { add find };

   allow javadumper self:capability { dac_read_search fowner };

   #read logcat logs
   read_logd(javadumper)

   # Allow access to external storage; we have several visible mount points under /storage
   # and symlinks to primary storage at places like /storage/sdcard0 and /mnt/user/0/primary
   allow javadumper storage_file:dir r_dir_perms;
   allow javadumper storage_file:lnk_file r_file_perms;
   allow javadumper mnt_user_file:dir r_dir_perms;
   allow javadumper mnt_user_file:lnk_file r_file_perms;

   # Allow javadumper to access /data/media folder
   allow javadumper media_rw_data_file:dir { create_dir_perms relabelfrom };
   allow javadumper media_rw_data_file:file create_file_perms;

   # To set proper security labels & permissions for tlcore
   allow javadumper crashdata_data_file:dir relabelto;

   # Allow javadumper to access rootfs context like selinux_version and file_contexts.bin
   allow javadumper rootfs:file { read getattr open };
   allow javadumper file_contexts_file:file { getattr open read };

   # Allow javadumper to access wakelock
   wakelock_use(javadumper)
')
