# mpobserver daemon
type mpobserver, domain, mlstrustedsubject, coredomain;
type mpobserver_exec, exec_type, file_type;

# Needed for started the deamon from init.rc.
init_daemon_domain(mpobserver)

# Needed for access to the memory pressure interface file under "/dev/memcg/".
# "memory.pressure_level" and "cgroup.event_control".
allow mpobserver self:capability { dac_override dac_read_search };

# Needed for local socket communication with system_server process.
allow mpobserver system_server:unix_stream_socket { connectto };

# Android N adaptation
allow mpobserver cgroup:file { read };
