# Write to /proc/sysrq-trigger
allow tombstoned proc_sysrq:file { write open getattr };

# Permission to write to rdtags
allow tombstoned rdtag_procfile:file { write open getattr };

# Permission to access /data/crashdump directory
allow tombstoned crashdata_data_file:dir { search };

userdebug_or_eng(`
   # Allow tombstoned to access somc_extralogs dir
   allow tombstoned somc_extralogs_data_file:dir { write getattr add_name search };
   # Allow tombstoned to access somc_extralogs file
   allow tombstoned somc_extralogs_data_file:file { write getattr open create };
')
