type clmcheck, domain, coredomain;
type clmcheck_exec, exec_type, file_type;
#type somc_extralogs_data_file, file_type, data_file_type;

init_daemon_domain(clmcheck)
#domain_auto_trans(init, clmcheck_exec, clmcheck)

#Transition to create and write files to /data/system/log
type_transition clmcheck system_data_file:dir somc_extralogs_data_file;
type_transition clmcheck system_data_file:file somc_extralogs_data_file;

#Access to /data/crashdump directory
allow clmcheck crashdata_data_file:dir { search };

#Create and Overwrite log files in data/system/log
allow clmcheck somc_extralogs_data_file:dir { search write add_name getattr };
allow clmcheck somc_extralogs_data_file:file { create write open getattr read };

#Write and Read rdtag
allow clmcheck rdtag_procfile:file { write open getattr read };
allow clmcheck rdtag_procfile:dir { search };

#Accessing and running sh and log socket
allow clmcheck shell_exec:file { getattr execute read open execute_no_trans};
allow clmcheck logdr_socket:sock_file { write };
allow clmcheck logd:unix_stream_socket { connectto };

#Execute and collect logcat logs
allow clmcheck logcat_exec:file { getattr execute read open execute_no_trans };

#Allow system_server to use /data/system/log directory
allow system_server somc_extralogs_data_file:dir create_dir_perms;
allow system_server somc_extralogs_data_file:file create_file_perms;

#Allow triggering of sys-rq
allow clmcheck proc_sysrq:file { open append getattr };

allow clmcheck rootfs:dir r_dir_perms;