type corecatcher, domain, mlstrustedsubject, coredomain;
type corecatcher_exec, exec_type, file_type;
domain_auto_trans(kernel, corecatcher_exec, corecatcher)
init_daemon_domain(corecatcher)

allow corecatcher kernel:fd use;
allow corecatcher kernel:fifo_file read;
allow corecatcher system_data_file:dir { getattr };
allow corecatcher crashdata_data_file:dir { write getattr add_name create search };
allow corecatcher crashdata_data_file:file { read write create open };
allow corecatcher somc_extralogs_data_file:dir { write getattr add_name create search };
allow corecatcher somc_extralogs_data_file:file { read write create open };

