type crashmonitorns_exec, exec_type, file_type;

userdebug_or_eng(`
    type crashmonitorns, domain, coredomain;

    init_daemon_domain(crashmonitorns)

    # implements crashmonitornative service
    binder_service(crashmonitorns)

    #allow this service to register
    allow crashmonitorns crashmonitor_service:service_manager {add find};
    allow crashmonitorns permission_service:service_manager find;

    #allow limited domains to use this service
    allow { system_app platform_app system_server javadumper } crashmonitor_service:service_manager find;

    # uses binder apis to crashmonitorsystemservice
#    not_full_treble(`
        binder_use(crashmonitorns)
#    ')
#    full_treble_only(`
#        vndbinder_use(crashmonitorns)
#    ')

    # directory observer runs in system_server and needs communication
    binder_call(system_server, crashmonitorns)

    # for broadcasts (via crashmonitorsystemservice) in system_server
    binder_call(crashmonitorns, system_server)

    # communication from crashmonitorui
    binder_call(platform_app, crashmonitorns)
    binder_call(system_app, crashmonitorns)

    allow crashmonitorns self:capability { dac_override };

    allow crashmonitorns media_rw_data_file:dir r_dir_perms;

    # Access to crash files via /sdcard/ | /data/media/0/ | /usbdisk | /sdcard1
    allow crashmonitorns sdcard_type:dir create_dir_perms;
    allow crashmonitorns sdcard_type:file create_file_perms;

    allow crashmonitorns mnt_media_rw_file:dir search;

    allow crashmonitorns crashdata_data_file:dir create_dir_perms;
    allow crashmonitorns crashdata_data_file:file create_file_perms;

    # Access to Internal sd card | External sd card | usb storage
    allow crashmonitorns storage_file:dir search;

')
